body {
	background-color: #dbf8ff;
    font-family: 'Open Sans Condensed', sans-serif;
}
a {
	font-size: 3rem;
	margin-top: 30px;
	margin-bottom: 0px;
	line-height: 2px;
	position: absolute;
	left: 50%;
	top: 2%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	color: black;
}
p {
	font-size: 27px;
	font-style: italic;
	padding-bottom: 100px;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 40%;
}

figcaption {
	font-size: 20px;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
div {
	margin-bottom: 10%;
}